.float-container {
	display: flex;
	margin: 20px 20px;
	border: 5px solid #000;
	padding: 10px;
	text-align: left;
}

.float-child {
  flex: 0 0 17%; /* or use fixed width if needed, like flex: 0 0 50% */
  margin: 5px;
  border: 2px solid red;
  padding: 10px;
}		

p {
	font-weight: bold;
	margin : 10px
}

h1 {
	margin : 10px
}

.tick text {
	font-size: 14px;
}

body {
	background-color : rgb(139, 138, 138);

}

#flagDiv{
	display: flex;
	justify-content: center;
}

#flag {
  width: 100%;
  height: auto;
  max-width: 300px;
}
